<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center align-items-center">
                  <div class="form-check">
                    <input class="form-check-input text-bold" type="checkbox" value="" id="flexCheckDefault">
                     <button class="btn btn-primary w-40">Current Form</button>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input text-bold" type="checkbox" value="" id="flexCheckDefault">
                     <button class="btn btn-primary w-40 bg-none">Current Form</button>
                  </div>
            </div>
        </div>
    </div>
    <h1>working..............</h1>

    <button class="my-3 btn btn-primary"></button>
</div>