<div class="container">
    <div class="row">

        <h1 class="text-center">Primary Applicant</h1>
        <div class="mb-3 ">
            <label for="exampleInputPassword1" class="form-label ">Full Name</label>
            <div class="input-group">
              <input type="password" class="form-control " id="exampleInputPassword1" placeholder="Sanjaana Gupta">
              
              
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-labe ">Pin Number* </label>
            <div class="input-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="cd4skat3339n">
              
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Aadhar Number*</label>
            <div class="input-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="856756846420">
              
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Date of Birth</label>
            <div class="input-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="09/12/1982">
              
              
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <div class="input-group">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="sanjana@gmail.com">
          </div>


          
          <div class="my-3">
            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
            <div class="input-group">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="8976542804" style="padding: 5px;">
            </div>
          </div>
          
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Permanent Address</label>
            <div class="input-group">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="17/1404, Southern Estates,Palm Beach, Road-358492">
            </div>
          </div>
          
          <label for="exampleInputPassword1" class="form-label">Correspondence Address</label>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Same as permanent address</label>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Elix/406, Palm Octavia,Bangalore">
        </div>
        <div class="my-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
          
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3" (click)="navigareToJoinedApplicant()">Submit</button>

        <button type="submit" class="btn btn-outline-none w-100 text-primary" (click)="goToBack()">Back</button>
        
    </div>
</div>