<main>
    <div class="container">
        <div class="row">
            <div>
                <p class="fs-4">Primary Applicant</p>
                <p class="fs-5 mt-1">Upload KYC Documents</p>
                <p>Kindly Upload the following mandatory documents to fill your form automatically.</p>
            </div>
            <!-- box 1 -->
            <div class="col-lg-3 col-md-3 col-6 mt-1">
                <div class="fs-6 mb-2">
                    PAN CARD <sup class="text-danger">*</sup>
                </div>
                <div class="box  text-center">
                    <div class="check-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                          </svg>
                    </div>
                    <img src="/assets/WhatsApp Image 2023-09-03 at 21.08.19.jpeg" class="img-fluid" alt="">
                    
                </div>
            </div>
            <!-- box 2 -->

            <div class="col-lg-3 col-md-3 col-6 mt-1">
                <div class="fs-6 mb-2 ">
                    <br>
                    <!-- PAN CARD <sup class="text-danger">*</sup> -->
                </div>
                <div class="box  text-center">
                    <div class="check-img close-i">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                          </svg>
                    </div>
                    
                    <img src="/assets/WhatsApp Image 2023-09-03 at 21.08.19.jpeg" class="img-fluid" alt="">
                    
                </div>
            </div>
            <!-- box 3 -->

            <div class="col-lg-3 col-md-3 col-6 mt-1">
                <div class="fs-6 mb-2">
                    Aadhaar CARD <sup class="text-danger">*</sup>
                </div>
                <div class="box  text-center">
                    <div class="check-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                          </svg>
                    </div>
                    <img src="/assets/WhatsApp Image 2023-09-03 at 21.08.19.jpeg" class="img-fluid" alt="">
                    
                </div>
            </div>
            <!-- box 4 -->
            <div class="col-lg-3 col-md-3 col-6 mt-1">
                <div class="fs-6 mb-2 ">
                    <br>
                    <!-- PAN CARD <sup class="text-danger">*</sup> -->
                </div>
                <div class="box  text-center">
                    <div class="check-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                          </svg>
                    </div>
                    <img src="/assets/WhatsApp Image 2023-09-03 at 21.08.19.jpeg" class="img-fluid" alt="">
                    
                </div>
            </div>
            <!-- box 5 -->
            <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                <div class="fs-6 mb-2">
                    ID Proof - Others <sup class="text-danger">*</sup>
                </div>
                <div class="box  text-center">
                    <div class="check-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                          </svg>
                    </div>
                    <img src="/assets/WhatsApp Image 2023-09-03 at 21.08.19.jpeg" class=" w-100" height="130px" alt="">
                    
                </div>
            </div>

            <!-- <button class="btn btn-primary w-100 my-3" (click)="navigateToNext()">Continue</button>
            <h3 class="text-center text-primary my-1" (click)="goToBack()">Back</h3> -->

        </div>
    </div>
</main>