<div class="container">
    <div class="row">   
        <div class="fs-5 text-center">
            Booking Amount
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="input">
                <label for="">Payment Source</label> <br>
            <select name="" id="" class="w-100">
                <option value="1">Cheque</option>
                <option value="2">Other</option>
            </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-3">
            <label for="">Upload an image to populate the details automatically</label> <br>
            <div class="box  text-center">
                <div class="check-img">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                      </svg>
                </div>
                <img src="/assets/WhatsApp Image 2023-09-03 at 20.32.45.jpeg" class=" w-100" height="130px" alt="">
                
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="input">
                <label for="">Amount (INR)</label> <br>
            <input type="text" placeholder="Law & Co" value="6493" class="w-100">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="input">
                <label for="">Amount In Words (INR)</label> <br>
            <input type="text" placeholder="Law & Co" value="Six Thousand Four Hundred Nintey Three" class="w-100">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="input">
                <label for="">Bank</label> <br>
            <select name="" id="" class="w-100">
                <option value="1">UCO Bank</option>
                <option value="2">Other</option>
            </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="input">
                <label for="">Date</label> <br>
            <input type="date" class="w-100">
            </div>
        </div>
 
        <div class="col-lg-4 col-md-4 col-12">
            <div class="input">
                <label for="">Check Number</label> <br>
            <input type="text" placeholder="
            Check Number" class="w-100">
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-12">
            <div class="input">
                <label for="">Check Favoring Details</label> <br>
            <input type="text" placeholder="Check Favoring Details" class="w-100">
            </div>
        </div>
        
    </div>
    <button class="btn btn-outline-primary w-100 my-3">Add Another Payement Serivce</button>
    <button class="btn btn-primary w-100 my-3" (click)="navigateToAllAboutYou()">Continue</button>
    <h3 class="text-center text-primary  my-1">Back</h3>

</div>