<div class="container">
    <form>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <div class="input-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Sanjaana Gupta">
              <span class="input-group-text">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <div class="input-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Sanjaana Gupta">
              <span class="input-group-text">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <div class="input-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Sanjaana Gupta">
              <span class="input-group-text">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <div class="input-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Sanjaana Gupta">
              <span class="input-group-text">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>
    
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <div class="input-group">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Select an option">
              <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-caret-down"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Option 1</a></li>
                <li><a class="dropdown-item" href="#">Option 2</a></li>
                <li><a class="dropdown-item" href="#">Option 3</a></li>
              </ul>
            </div>
          </div>
    
    
          
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <div class="input-group">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Select an option">
              <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-caret-down"></i>
                
              </button>
              <button class="btn btn-danger bg-white"><i class=" text-danger fa-regular fa-trash-can"></i></button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Option 1</a></li>
                <li><a class="dropdown-item" href="#">Option 2</a></li>
                <li><a class="dropdown-item" href="#">Option 3</a></li>
              </ul>
            </div>
          </div>
          <button class="w-100 text-primary btn btn-outline-primary">
            <i class="fa-light fa-plus"></i> add
        </button>
    
          
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">I confirm  that all information given about is true</label>
        </div>
        <button type="submit" class="btn btn-primary w-100" (click)="navigateToSplashUpload()">Submit</button>
        
      </form>
</div>