<div class="container">
    <div class="row">
        <form class="m-3 p-5px">
            <h2 class="text-center">Joined Applicant 1</h2>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Name</label>
              <div class="input-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Sanjana Gupta">
                <span class=" bg-transparent input-group-text outline-none">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Tower</label>
                  <div class="input-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="1002">
                    <span class=" bg-transparent input-group-text">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Unit No.</label>
                  <div class="input-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="0707">
                    <span class=" bg-transparent input-group-text">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                </div>
               
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">CRN</label>
                  <div class="input-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="987301">
                    <span class=" bg-transparent input-group-text">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                </div>
        
                <div class="mt-3">
                  <label for="exampleInputPassword1" class="form-label">Primary Application</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Individual">
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Option 1</a></li>
                      <li><a class="dropdown-item" href="#">Option 2</a></li>
                      <li><a class="dropdown-item" href="#">Option 3</a></li>
                    </ul>
                  </div>
                </div>
        
        
                
                <div class="mt-3">
                  <label for="exampleInputPassword1" class="form-label">First Joint Application</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Individual">
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-caret-down"></i>
                      
                    </button>
                    <button class="btn btn-danger bg-white"><i class=" text-danger fa-regular fa-trash-can"></i></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Option 1</a></li>
                      <li><a class="dropdown-item" href="#">Option 2</a></li>
                      <li><a class="dropdown-item" href="#">Option 3</a></li>
                    </ul>
                  </div>
                </div>
                <button class="w-100 btn btn-outline-primary my-3">
                  <i class="fa-light fa-plus"></i> Add Application        </button>
        
                
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I confirm  that all information given about is true</label>
              </div>
              <button type="submit" class="btn btn-primary w-100" (click)="navigateToAnnexure()">Submit</button>
              <h3 class="text-center text-primary my-1">Back</h3>
            </form>
    </div>
</div>