<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
         
            <div class="input">
                <label for="">Date of Birth</label> <br>
            <input type="date" class="w-100">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="input">
                <label for="">Mother Tongue</label> <br>
            <select name="" id="" class="w-100">
                <option value="1">English</option>
                <option value="2">Hindi</option>
            </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="input">
                <label for="">Occupation</label> <br>
            <select name="" id="" class="w-100">
                <option value="1">Lawyer</option>
                <option value="2">Other</option>
            </select>
            </div>
        </div>
    </div>
    <div class="row">
        <label class="Material">Material Status</label>
        <div class="col-lg-6 col-md-6 col-6 mt-2">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  Single
                </label>
              </div>
              <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                <label class="form-check-label" for="flexRadioDefault2">
                  Married
                </label>
              </div>
            
      </div>
        <div class="col-lg-6 col-md-6 col-6 mt-2">
            
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Divorced
                </label>
              </div>
              <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" >
                <label class="form-check-label" for="flexRadioDefault4">
                  Widowed
                </label>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
         
            <div class="input">
                <label for="">Company Name</label> <br>
            <input type="text" placeholder="Law & Co" class="w-100">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="input">
                <label for="">Designation</label> <br>
            <input type="text" placeholder="Senior Partner" class="w-100">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="input">
                <label for="">Office Location</label> <br>
            <input type="text" placeholder="Kala Ghoda" class="w-100">
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-12">
            <div class="input">
                <label for="">Industrial type</label> <br>
            <select name="" id="" class="w-100">
                <option value="1">English</option>
                <option value="2">Hindi</option>
            </select>
            </div>
        </div>

    </div>    
    <app-common-buttons
    (continueClick)="navigateToTermsCondition()"
    (backClick)="goToBack()">
  </app-common-buttons>

</div> 