<main>
    <div class="container mt-3">
        <div class="row">
            <div class="fs-5 text-center">
                L&T Realty Booking Form
            </div>
            <div class="text-center mt-5">
                <img src="/assets/WhatsApp Image 2023-09-03 at 23.23.36.jpeg" class="img-fluid" alt="">
            </div>
            <div class="text-center">
                👏Hi,Sanjna
                <p >Kindly keep the following Document Handy</p>
                <div class="text-center">
                    <ul class="text-start d-inline-block text-left custom-list">
                        <li>PAN Card</li>
                        <li>Aadhaar Card</li>
                        <li>Booking Amount Details</li>
                    </ul>
                </div>
            </div>
            <div class="mx-2 mt-5">
                <button class="btn btn-primary text-white w-100" (click)="navigateToAddApplicantForm()">Let's Get Started</button>
            </div>
        </div>
    </div>
  </main>