<div class="container">
  <div class="row">

<main>
  <div class="container mt-5 ">
      <div class="row">
        <div class="col-12">
          <div class="box-one py-2 px-2"> 
            <p class="sanjna">SanjnaGupta</p>
            <div class="accordion" id="accordionExample">
              
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed fs-6 box-one" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Upload KYC Documents
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.
                  </div>
                </div>
              </div>
            </div>
            <p class="text-success fs-5">Extraction Complete</p>
        </div>
        <div class="box-two py-2 px-2">
          <div>
            <button class="btn btn-primary">Proceed now</button>
            <p class="fs-5">Amit Gupta</p>
            <p class="fs-6">Document upload</p>
          </div>
        </div>
        </div>
         
      </div>
  </div>
</main>


        <app-common-buttons
        (continueClick)="goToVerify()"
        (backClick)="goToBack()">
      </app-common-buttons>

  </div>
</div>